.App {
    text-align: center;
}

.container {
    height: 100%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* width: 100%;
    display: flex;
    flex-wrap: wrap; */
}

.text4 {
    background-color: rgba(0, 0, 0, 0.4);
}

.leaflet-container {
    margin-top: 5vh;
    float: left;
    width: 45%;
    height: 50vh;
    margin-right: 10%;
    border: 4px solid silver;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 10px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

table {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
}
td {
    border: 1px solid gray;
    width: 30em;
}
