{
    "singleQuote": true,
    "printWidth": 200,
    "tabWidth": 4,
    "userTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true
}